.comment_all {
  background-color: #a0d2eb;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.comment_author {
  font-size: 20px;
  font-weight: bolder;
}

.comment-date {
  font-size: 15px;
}

.comment_text {
  margin-top: 5px;
}
